<!-- Sticky Footer -->
<!-- <footer class="sticky-footer bg-light footer-font-style text-muted footer-position"> -->
        <!-- <footer class="sticky-footer page-footer font-small"> -->
    <!-- <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>FedEx© 2019</span>
        </div>
    </div>
</footer> -->

<div id="footer">
        <div class="container">
          <p class="footer-block bg-light footer-font-style text-muted footer-position">FedEx© 2019</p>
        </div>
      </div>