<script src="js/fedex-reports.js"></script>
<nav class="navbar navbar-expand navbar-dark bg-dark static-top" style="height: 55px">

  <a class="navbar-brand" href="index.ejs">
    <i class="fab fa-3x fa-fedex"> </i>
    
  </a>
  <span style="color: white; font-size:27px; padding-left: 2px">Reports</span>

  <button class="btn btn-link btn-lg text-white order-1 order-sm-0" id="sidebarToggle" href="#">
    <i class="fas fa-bars"></i>
  </button>

  <!-- Navbar Search -->
  <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." aria-label="Search"
        aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>
  <a href="newreport.ejs" class="btn-default">
      <button class="btn text-white">
          <i class="fas fa-plus text-white"></i> 
          <!-- New Report   -->
      </button>
  </a>

  <!-- Navbar -->
  <ul class="navbar-nav ml-auto ml-md-0">
    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <span class="badge badge-danger">7</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
        <a class="dropdown-item" href="404.ejs">New Reports  <span class="badge badge-danger">6</span></a>
        <a class="dropdown-item" href="404.ejs">New Messages  <span class="badge badge-danger">1</span></a>
      </div>
    </li>
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user-circle fa-fw"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="404.ejs">Profile</a>
        <a class="dropdown-item" href="404.ejs">Settings</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="login.ejs" >Logout</a>
      </div>
    </li>
  </ul>

</nav>