<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>New Report</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="css/fedex-reports.css" rel="stylesheet">
    <!-- Bootstrap & jQuery-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/demo/report.js"></script>
    <script src="js/fedex-reports.js"></script>
    <!-- Demo scripts for this page-->
    <script src="js/demo/datatables-demo.js"></script>

</head>

<body id="page-top">
    <% include ../partials/nav %>

    <div id="wrapper">
        <% include ../partials/sidebar %>


        <div id="content-wrapper">

            <div class="container-fluid">

                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">New Report</li>
                </ol>
                <!-- Page Content -->
                <!-- Page Content -->
                <h1>New Report</h1>
                <hr>
                <form>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="text" id="inputDivision" class="form-control" placeholder="Division"
                                required="required" autofocus="autofocus">
                            <label for="inputDivison">Division</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="text" id="inputRegion" class="form-control" placeholder="Region"
                                required="required" autofocus="autofocus">
                            <label for="inputDivison">Region</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="text" id="inputDistrict" class="form-control" placeholder="District"
                                required="required" autofocus="autofocus">
                            <label for="inputDivison">District</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="text" id="inputManager" class="form-control" placeholder="Manager"
                                required="required" autofocus="autofocus">
                            <label for="inputManager">Manager</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="remember-me">
                                Remember Password
                            </label>
                        </div>
                    </div>
                    <a class="btn btn-primary btn-block" href="index.ejs">Create</a>
                </form>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content-wrapper -->

        <% include ../partials/footer %>
    </div>
    <!-- ./wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

</body>

</html>